<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Big Bert's</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 50vh;
        }
    </style>
</head>
<body>

<h1>About Big Bert's Skate Shop</h1>
<h2>We makes cool skateboards for cool people</h2>
<p>At Big Bert's Skate Shop, we take pride in crafting the coolest skateboards exclusively for the coolest people. Our commitment to innovation and style sets us apart, as each skateboard is meticulously designed to reflect the unique personalities of our discerning customers. Big Bert's is not just a skate shop; it's a lifestyle brand that understands the importance of making a statement on four wheels. From sleek, aerodynamic frames to cutting-edge technology integrated seamlessly, our boards are more than just modes of transportation; they are expressions of individuality and a symbol of the cool and confident spirit of our clientele. Whether you're cruising the urban streets or tackling challenging parks, Big Bert's Skate Shop ensures that you're not just riding a skateboard – you're riding a piece of art that embodies the essence of coolness. Join the ranks of the trendsetters and experience the thrill of riding the coolest skateboards in town, exclusively at Big Bert's.</p>
<a href = "/mainscreen">
    <button>MAINSCREEN</button>
</a>

</body>
</html>